* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/img/white-concrete-wall.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: rgb(214, 240, 191);
    border: solid black 1px;
    box-shadow: 5px 5px 8px black;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.form-box {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 10px;
}

input {
    text-align: center;
}

form {
    width: 80%;

}

.controls-button {
    width: 100%;
}

button {
    width: 40%;
    margin: 12px 12px;
    cursor: pointer;
    background-color: rgb(176, 222, 232);
    border-radius: 5px;
    border: 1px solid;
    opacity: 0.8;
    padding: 5px;
}

button:hover {
    background-color: rgb(160, 213, 224);
}

.error-text {
    display: none;
}

.popup {
    font-size: 22px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding: 16px;
    border-radius: 5px;
    width: 50%;
    height: 30%;
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    border: solid black 1px;
    transition: top 0.5s;
}

.show-popup{
    top: 50%;
}